:root {
    --primary: #0d9455;
    --primary-light: #509b789a;
    --secondary: #eef2f1;
    --white: #fff;
    --black: #000;
    --light-black: #7E7E7E;
    --light-footer: #969696;

    --lato-font: 'Lato', sans-serif;
} 
/*--Footer Style Start--*/
footer{
    background: var(--primary);
}
footer>.footer-container{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
footer>.footer-container>.footer1,
footer>.footer-container>.footer2{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.footer-details,
.allpages,
.topcategorys,
.footer-socials{
    margin-right: 20px;
}
/*footer-details*/
.footer-details{
    max-width: 340px;
}
.footer-details .logo{
    margin: 0;
    padding: 0;
}
.footer-details .logo img{
    width: 190px;
    height: 50px;
}
.footer-details p{
    font-family: var(--lato-font);
    margin: 0;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
}
.footer-details p .i{
    color: var(--light-footer);
    margin-right: 10px;
}
.footer-details .logo-subtext{
    font-family: var(--lato-font);
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    color: var(--white);
}
.footer-details .hotline{
    font-size: 26px;
    font-family: var(--lato-font);
    font-weight: 700;
    margin: 0;
    padding: 10px 0;
    color: var(--white);
}
.footer-details .hotline .i{
    color: var(--light-footer);
    margin-right: 10px;
}
/*Footer Menus*/
footer>.footer-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer>.footer-container ul li{
    padding: 3px 0;
}
footer>.footer-container ul li a{
    font-size: 16px;
    font-weight: 400;
    transition: .3s ease-in-out;
    color: var(--white);
}
footer>.footer-container ul li a:hover{
    color: var(--black);
}
footer>.footer-container ul>.menu-head{
    padding-bottom: 15px;
}
footer>.footer-container ul>.menu-head a{
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
}
footer>.footer-container ul>.menu-head a:hover{
    color: var(--white);
}
footer>.footer-container ul .menu-head span{
    color: red;
}
footer>.footer-container .footer-icons{
    display: flex;
}
/*footer-icons*/
footer>.footer-container .footer-icons a{
    padding: 12px;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
    background-color: var(--white);
    transition: 0.3s ease-in-out;
}
footer>.footer-container .footer-icons a .i{
    position: absolute;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--primary);
    transition: 0.3s ease-in-out;
}
footer>.footer-container .footer-icons a:hover{
    background-color: var(--black);
}
footer>.footer-container .footer-icons a:hover .i{
    color: var(--white);
}
/*paymets-text*/
.paymets-text h5{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
}
.payments-methods{
    max-width: 160px;
}
.payments-methods img{
    width: 100%;
}
/*footer-last*/
.footer-last{
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid var(--secondary);
}
.footer-last p{
    font-family: var(--lato-font);
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}
@media(max-width: 992px){
    footer>.footer-container{
        flex-direction: column;
    }
    footer>.footer-container>.footer1,
    footer>.footer-container>.footer2{
        width: 100%;
        display: flex;
        justify-content: start;
    }
    .footer-details,
    .allpages,
    .topcategorys,
    .footer-socials{
        width: 50%;
        max-width: 50%;
        padding-top: 20px;
    }
}
@media(max-width: 768px){
    footer>.footer-container>.footer1,
    footer>.footer-container>.footer2{
        flex-direction: column;
    }
    .footer-details,
    .allpages,
    .topcategorys,
    .footer-socials{
        width: 100%;
        max-width: 100%;
        padding-top: 20px;
    }
    .payments-methods{
        margin: auto;
        max-width: 80%;
        padding-top: 10px;
    }
    .footer-last{
        margin: auto;
        width: 80%;
    }
}
/*Login Style*/
main .custom-container{
    width: 90%;
    padding: 20px 0;
}
.login-area{
    margin: auto;
    width: 80%;
}
.login-card{
    background: var(--white);
    border: 2px solid var(--secondary);
    box-shadow: 3px 5px 5px rgba(0, 0,0, 0.09);
    border-radius: 20px;
}
.login-image{
    margin: auto;
    padding: 40px 0;
    width: 60%;
}
.login-image img{
    width: 100%;
}
/*login-form*/
.login-form h4{
    font-size: 38px;
    font-weight: 600;
    color: var(--primary);
    margin: 0;
    padding-bottom: 6px;
}
.login-form p{
    font-family: var(--lato-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
    padding-bottom: 10px;
}
.login-form p span{
    color: var(--primary);
}
/*login-form form*/
.login-form form input{
    width: 90%;
    padding-bottom: 5px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--primary-light);
    margin: 7px 0;
}
.login-form form input:focus{
    outline: none;
}
.remember-forgot {
    width: 90%;
}
.remember-forgot div input{
    margin-right: 10px;
}
.remember-forgot div span{
    font-size: 14px;
    min-width: 110px;
}
.remember-forgot a{
    font-size: 14px;
    color: var(--primary);
}
@media (max-width: 878px){
    .login-image{
        margin: auto;
        padding: 20px 0;
        width: 80%;
    }
}
@media (max-width: 778px){
    .login-area{
        margin: auto;
        width: 95%;
    }
    .login-image{
        margin: auto;
        padding: 40px 0;
        width: 70%;
    }
    .login-form{
        margin: auto;
        width: 80%;
        padding: 40px 0;
    }
    .login-form form input{
        width: 100%;
    }
    .remember-forgot{
        width: 100%;
    }
}
