
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200..1000&family=Playwrite+AU+VIC+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@1,200&family=Playwrite+AU+VIC+Guides&display=swap');

*{
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
    
    margin: 0;
	padding: 0;
}
p {
    
    margin: 0;
	padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
:root {
    --primary: #2f7b57;
    --secondary: #eef2f1;
    --white: #fff;
    --black: #000;
    --light-black: #7E7E7E;

    --lato-font: 'Lato', sans-serif;
} 
.custom-container{
    margin: auto !important;
    width: 90% !important;
}
@media (max-width: 778px) {
    .custom-container{
        width: 95%;
    }
}
/*=====Cascading Style Sheet=====*/
/*Topbar Style Start*/
.top-bar{
    color: var(--light-black);
    border-bottom: 1px solid #e9e9e9;
}
.top-bar > .custom-container{
    display: flex;
    justify-content: space-between;
}
/*top-menus*/
.top-bar .top-menus ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.top-bar .top-menus ul li{
    font-family: var(--lato-font);
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
}
.top-bar .top-menus ul li:hover a{
    color: var(--black);
}
/*top-headline*/
.top-headline p{
    font-family: var(--lato-font);
    font-weight: 600;
    color: var(--primary);
    font-style: normal;
    font-size: 15px;
    padding: 5px;
}
/*Topbar Style End*/